.App {
  background-color: #2f2f2f;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.clock {
  border-radius: 50% 50%;
  background-color: #868686;
  height: 98vmin;
  width: 98vmin;
  text-align: center;
  position: relative;
}

.dot { 
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -25px;
  margin-top: -25px;
  background-color: #545454;
  width: 50px;
  height: 50px;
  border-radius: 50% 50%;
}

.arm {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -50px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50vmin solid #656565;
  transform-origin: top center;
}

.month {
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  top: 50%;
}
.January {
  transform: translateY(-48vmin);
}
.February {
  transform: rotate(30deg) translateY(-48vmin);
}
.March {
  transform: rotate(60deg) translateY(-48vmin);
}
.April {
  transform: rotate(90deg) translateY(-48vmin);
}
.May {
  transform: rotate(120deg) translateY(-47vmin);
}
.June {
  transform: rotate(150deg) translateY(-46vmin);
}
.July {
  transform: rotate(180deg) translateY(-46vmin);
}
.August {
  transform: rotate(210deg) translateY(-46vmin);
}
.September {
  transform: rotate(240deg) translateY(-47vmin);
}
.October {
  transform: rotate(270deg) translateY(-47vmin);
}
.November {
  transform: rotate(300deg) translateY(-48vmin);
}
.December {
  transform: rotate(330deg) translateY(-48vmin);
}
